a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1}
ol, ul {list-style: none}

@font-face{font-family:'SFNSText';src:local(".SFNSText-Light"),url("../fonts/SFNSText-Light.woff") format("woff");font-weight:300}
@font-face{font-family:'SFNSText';src:local(".SFNSText-Medium"),url("../fonts/SFNSText-Medium.woff") format("woff");font-weight:500}

body{
    min-width:1236px;
    font-family: SFNSText, 'Helvetica Neue', 'Microsoft Yahei', SimHei, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}
.event-show{
    text-align:center;
    overflow:hidden;
}

.header{
    width:100%;
    background-image: linear-gradient(#fdfdfd, #f9f9f9);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 44px;
}
#header-date{
    height:31px;
    width:284px;
    position:absolute;
    top:4px;
    left:50%;
    padding-top:5px;
    margin-left:-142px;
    text-align:center;
    font-size:21px;
    font-weight:600;
    line-height:22px;
}
.prev,.next{
    position:absolute;
    top:0; width:36px;
    height:36px;
    cursor:pointer;
}
.prev{left:0;}
.next{right:0;}
.arrow-left,.arrow-right{
    position: absolute;
    top: 10px;
    width: 10px;
    height: 16px;
    background-image: url(../images/packed-5.png);
}
.arrow-left{background-position: -72px -719px;left:19px}
.arrow-right{background-position: -156px -503px;left:7px}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width:100%;
    height: 44px;
}
.content{
    width:100%;
    position: absolute;
    top: 44px;
    left: 0px;
    height:500px;
    border-top: 1px solid #e5aca9;
    border-bottom: 1px solid #ccc;
}
.cal-show{
    width:627px;
    position: absolute;
    top: 0px;
    left: 20px;
    height:176px;
}
#daydate{
    width:215px;
    height:150px;
    line-height:130px;
    font-size:130px;
    color: rgb(26, 26, 26);
    letter-spacing: -4.8px;
    position:absolute;
    top:22px;
    left:0;
}
#fulldate{
    height:25px;
    line-height:25px;
    position:absolute;
    top:143px;
    font-size:19px;
}
#minicalendar{
    width:215px;
    height:165px;
    position:absolute;
    top:8px;
    right:0px;
}
#minicalendar .headings{
    height:18px;
    margin-bottom:1px;
    font-size:13px;
    color: #aaa;
    font-weight: 500;
    border-bottom: 1px solid #c5c5c5;
    position:absolute;
    width:100%;cursor: default;
    line-height:15.6px;
}
#minicalendar .month-body{
    position:absolute;
    top:19px;
    width:100%;
    height:146px;
}
.row{
    width:100%;
    height:29px;
    position:absolute;
    right:0;
}
.row1{top:0;}
.row2{top:24px;}
.row3{top:49px;}
.row4{top:73px;}
.row5{top:97px;}
.row6{top:122px;}
.col {width:31px;position:absolute;top:0;height:100%;font-weight:500;font-size:13px;}
.col1{left:0;}
.col2{left:31px;}
.col3{left:62px;}
.col4{left:93px;}
.col5{left:124px;}
.col6{left:155px;}
.col7{left:186px;}
.cell{cursor:pointer;position:absolute;width:29px;height:20px;text-align:center;font-size:13px;font-weight:500;}

.cell:hover{
    background:#d9d9d9;
}
.cell-hover{
    background:#d9d9d9;
}

.weekend:before{
    content:'';
    width: 29px;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: #f0f0f0;
}
.off-month{
    color:#999;
}

.today{
    background:#ff3b30;
    color:#fff;
}
.today-leave{
    color:#ff3b30;
}
.cell.today:hover{
    background:#ff3b30;
    opacity:0.5;
}
.cell.today-leave:hover{
    background:#ff3b30;
    color:#fff;
    opacity:0.5;
}


.separator-c{
    position:absolute;
    width:100%;
    top:170px;
    right:0px;
    height:8px;
    background:white;
}
.separator{
    position:absolute;
    top:0px;
    right:0px;
    width:100%;
    height:3px;
    background:#e5e5e5;
}


.event-show{
    border: 1px solid #f2f2f2;
    width:625px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    height:252px;

}
.daytime-show{
    border: 1px solid #f2f2f2;
    width:38%;
    position: absolute;
    right: 0px;
    top: 0px;
    height:378px;
    overflow:scroll;
    padding:50px;
}
.daytime-show img{
    width:100%;
}
.icloud-text{
    position: absolute;
    width: 56px;
    height: 16px;
    top: 14px;
    left:13px;
    background-image: url('../images/packed-5.png');
    background-position: -73px -603px;
    background-repeat: no-repeat
}